/* General Demo Style */
@import url(//fonts.googleapis.com/css?family=Abel:300,400,700);
@import url(//fonts.googleapis.com/css?family=Big+Shoulders+Text:100,900);
@import url(//fonts.googleapis.com/css?family=Tulpen+One);
@import url(//fonts.googleapis.com/css?family=Unlock);


html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
    font-family: 'Abel', Calibri, Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #333;
    overflow: scroll;
    overflow-x: hidden;
}

a {
	color: #555;
	text-decoration: none;
}

.container {
	width: 100%;
	position: relative;
}

.container > header {
	width: 90%;
	max-width: 1240px;
	margin: 0 auto;
	position: relative;
	padding: 0 30px 50px 30px;
}

.container > header {
	padding: 20px 30px 10px;
	text-align: center;
}

.container > header h1 {
	font-family: 'Unlock';
	font-size: 60px;
	line-height: 60px;
	margin: 0 auto;
	font-weight: 700;
	color: #333;
}

.container > header h1 span {
	font-family: 'Big Shoulders Text';
	display: block;
	font-size: 25px;
	font-weight: 100;
	color: #000;
}

.main > p {
	text-align: center;
	padding: 50px 20px;
}

footer {
	margin: 0 auto;
	padding: 0 0 20px 0;
	text-align: center;
}

header > a > i.fab, i.fas {
	display: inline;
	margin: 0 10px;
	line-height: 70px;
	font-size: 35px !important;
	color: #333;
}

.tippy-box[data-theme~='gradient-tippy'] {
	background:linear-gradient(130deg,#507bf4,#ff8bcb);
	box-shadow:0 8px 12px #c9a0ff;
	font-weight:bold;
	font-size: 16px;
}